@page "/"

@inject NavigationManager Navigation

<PageTitle>Tutoria</PageTitle>

<h3>Plataforma de tutoria</h3>

O Programa de Tutoria|Mentoria, tem como missão promover a integração e o sucesso académico dos
novos estudantes, na transição do Ensino Secundário para o Ensino Superior e ao longo do seu percurso 
nesta academia, contribuindo para a otimização dos processos de Ensino e Aprendizagem.
<br />
<br />
<h4>Objetivos:</h4>
<ul>
    <li>
        Apoiar a transição dos novos alunos entre o ensino secundário e o ensino superior;
    </li>
    <li>
        Acompanhar os alunos durante o percurso na universidade;
    </li>
    <li>
        Identificar precocemente situações de insucesso escolar;
    </li>
    <li>
        Orientar percurso académico dos alunos;
    </li>
    <li>
        Apoiar atividades ligadas à coordenação dos Cursos;
    </li>
    <li>
        Contribuir para a melhoria da qualidade de ensino na universidade.
    </li>
</ul>

<h4>A quem se destina?</h4>
<ul>
    <li>Estudantes do 1º ano de cursos de 1º ciclo e Mestrado Integrado.</li>
    <li>Alunos de anos mais avançados com dificuldades no seu percurso académico.</li>
</ul>